.messageContainer {
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    gap: 30px;
    font-size: 16px;
}

.avatarContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.avatarLogo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.message {
    background-color:  rgba(186, 104, 200, 1);
    padding: 20px;
    flex-grow: 1;
    border-radius: 20px 20px 20px 30px;
    position: relative;
    z-index: -1;
}


.corner {
    content: '';
    bottom: 16px;
    left:-36px;
    position: absolute;
    border: 0px solid;
    display: block;
    width: 38px;
    height: 26px;
    background-color: transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: -21px 9px 0px 8px rgba(186, 104, 200, 1);
    z-index: -3;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.nickname {
    font-weight: bold;
    color: #f3e5f5;
    font-size: 20px;
}


.timestamp {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0;
    margin: 0;
}